<div>
  <div class="form-container col-xs-12">
    <form>
      <div>
        <label>Wrong info? Not at home?<br> Enter your address here: </label>
      </div>
      <div class="col-md-12 col-sm-4 no-padding-left">
        <input type="number"  class="form-control" placeholder="123" ng-model="ctrl.address.streetNo">
      </div>
      <div class="col-md-12 col-sm-8 no-padding-left">
        <input type="text" class="form-control" placeholder="Democracy Ave." ng-model="ctrl.address.streetName">
      </div>
      <div class="col-md-12 col-sm-6 no-padding-left">
        <input type="text" class="form-control" placeholder="Cincinnati" ng-model="ctrl.address.city">
      </div>
      <div class="col-md-12 col-sm-6 no-padding-left">
        <input type="text" ng-model="ctrl.address.state" placeholder="Ohio" typeahead="state for state in ctrl.states | filter:$viewValue" class="form-control">
      </div>
      <div class="col-xs-12 no-padding-left">
        <button type="submit" class="no-margin-left btn btn-primary col-xs-12" ng-click="ctrl.updateLocation();ctrl.blurElement($event)">Update</button>
      </div>
    </form>
  </div>
</div>